$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        border-radius: 5px;

        &:hover, &.active {
          background: rgb(238, 238, 238);
        }
      }
    }
  }
}

.buttonTrue{
  background-color: #fff;
  border: 2px solid black;
}

.buttonFalse{
  background: rgb(180, 180, 180);
}

