$backgroundColor: #e4e4e4;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 
}

body {
  background: $backgroundColor;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  height: 85%;
}
.flex-grid-thirds .col {
  width: 32%;
  height: 100%;

}

#history-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#results-col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}